/* BETŰTÍPUSOK */

@font-face {
    font-family: 'cim';
    src: url(./fonts/ValorantFont.ttf);
}

@font-face {
    font-family: 'torzs';
    src: url(./fonts/neuropolitical.otf);
}

/* ÁLTALÁNOS */

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'torzs', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(234, 226, 183);
}

header {
    margin: 0;
    text-align: center;
}

footer {
    font-size: 0.7em;
    text-align: center;
    color: rgb(0, 48, 73);
    padding: 1%;
}

/* MENÜ */

nav {
    display: flex;
    text-align: center;
    flex-direction: column;
}

ul#navlist li {
    padding: 0;
}

nav ul li {
    list-style-type: none;
    border: 2px solid rgb(252, 191, 73);
    background-color: rgba(247, 127, 0, 0.5);
    width: 90%;
    padding: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

nav li a {
    display: block;
    text-decoration: none;
    color: rgb(235, 188, 139);
}

nav ul li:hover {
    opacity: 0.5;
}

/* OLDALELEMEK */

h1 {
    font-size: 1.5em;
    color: rgb(0, 48, 73);
    margin-top: 2%;
    margin-bottom: 2%;
}

h2 {
    margin-top: 4%;
}

h3 {
    margin-top: 0.5%;
    margin-bottom: 1%;
}

article {
    color: rgb(0, 48, 73);
    margin: 2%;
}

input {
    margin: 0.5%;
}

textarea {
    margin-top: 5px;
    margin-bottom: 5px;
}

select {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

label.error {
    color: red;
    font-size: 0.7em;
}

/* OSZTÁLYOK_ID-K */

#logo {
    width: 50%;
    height: 50%;
    max-width: 300px;
    max-height: 300px;
}

div.hatter {
    background-image: url(./img/hatter_8.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    padding: 1%;
}

#current {
    border: 2px solid rgb(0, 48, 73);
    background-color: rgba(0, 48, 73, 0.4);

}

.kep {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 600px;
    border: 5px solid rgb(0, 48, 73);
    border-radius: 3px;
    margin-bottom: 50px;
}

.nyitva {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 300px;
    border: 5px solid rgb(0, 48, 73);
    border-radius: 3px;
    margin-bottom: 0.5%;
}

.portre {
    display: block;
    margin: 0 auto;
    height: fit-content;
    max-height: 400px;
    border: 5px solid rgb(0, 48, 73);
    border-radius: 3px;
    margin-bottom: 5%;
}

.blokk {
    display: block;
    border: 5px solid rgb(0, 48, 73);
    border-radius: 3px;
    background-color: rgba(0, 48, 73, 0.8);
    color: rgb(234, 226, 183);
    padding: 2% 2% 2% 2%;
    margin-bottom: 2%;
}

.urlap_gomb {
    border: 2px solid rgb(0, 48, 73);
    background-color: rgba(0, 48, 73, 0.4);
    padding: 0.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 3px;
    display: block;
    color: rgb(0, 48, 73);
    font-family: 'torzs', sans-serif;
}

form input:hover {
    opacity: 0.5;
}

.urlap_mezo {
    border: 2px solid rgb(0, 48, 73);
    border-radius: 3px;
    background-color: rgba(0, 48, 73, 0.8);
    color: rgb(234, 226, 183);
    padding: 0.3%;
}

.galleria {
    margin: auto;
    width: 90vw;
    height: 90vw;
    max-width: 600px;
    max-height: 600px;
}

/* RESZPONZIVITÁS */

@media screen and (min-width: 600px) {

    #logo {
        float: left;
        margin-top: 0;
        margin-left: 0;
        margin-right: 3%;
        margin-bottom: 3%;
    }

    nav {
        margin-top: 1.5%;
        margin-bottom: 4%;
    }

    h1 {
        margin-top: 5%;
    }

}

@media screen and (min-width: 768px) {
    #logo {
        float: left;
        margin-top: 0;
        margin-left: 0;
        margin-right: 3%;
        margin-bottom: 3%;
    }

    nav {
        margin-top: 1.5%;
        margin-bottom: 4%;
    }

    h1 {
        margin-top: 3%;
    }
}